<div class="container">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <h1>Sign Up</h1>
    <form [formGroup]="registrationForm">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="email" />
        <mat-error
          *ngIf="
            registrationForm.get('email')?.hasError('email') &&
            !registrationForm.get('email')?.hasError('required')
          "
        >
          Enter a valid email address
        </mat-error>
        <mat-error
          *ngIf="registrationForm.get('email')?.hasError('required')"
        >
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" />
        <mat-error *ngIf="registrationForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          matInput
          formControlName="password"
        />
        <mat-icon matSuffix (click)="toggleDisplayPassword()">{{
          showPassword ? 'visibility' : 'visibility_off'
        }}</mat-icon>
        <mat-error
          *ngIf="registrationForm.get('password')?.hasError('required')"
        >
          Password is required
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="createUser()">
        Sign Up
      </button>
    </form>
    <div class="sign-in">
      Already have an account?
      <a [routerLink]="['/', 'login']">Login</a>
    </div>
  </div>
